@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display:wght@400;700&family=Poppins:wght@400;500;700&display=swap');


/* Body text */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

/* Headings */
h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: #222;
}


.cardhead{
    height: 200px;
    width: 450px;
    border-radius: 20px;
}

.cardhd{
    font-size: 30px;
    font-weight: 500;
}

.button{
    background-color: #5577a4;
}

.button:hover{
    background-color: #2c4565;
}




