/* Reset and basic body */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  background-image: url("https://i.pinimg.com/736x/29/df/69/29df69c4d10f2178076ca58e0abf2024.jpg");
  background-repeat: repeat-y;
  background-size: cover;

  display: flex;
  justify-content: center; 
  align-items: center;     
  flex-direction: column; 
  overflow-y: auto;
}


.welcome {
  text-align: center;
  background-color: white;
  border-radius: 15px;
  font-size: 2rem; 
  padding: 1rem 2rem;
  max-width: 100%; 
  box-sizing: border-box;
}
.welcome img{
  height: 200px;
  width: 220px;
}

.welcome button {
  height: 3rem;         
  width: 8rem;
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  background-color: #8cbedf;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.welcome button:hover {
  transform: scale(1.05);
}


@media (max-width: 768px) {
  .welcome {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0;
  }

  .welcome button {
    width: 6rem;
    height: 2.5rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .welcome {
    font-size: 1.2rem;
  }

  .welcome button {
    width: 5.5rem;
    height: 2.2rem;
    font-size: 0.8rem;
  }
}
