.login-container img{
     height: 100px;
     width: 100px;
     margin-top: 100px;
}

.login-container{
    height: 400px;
    width :600px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding: 40px;
    background-color: azure;
    border-radius: 20px;
}

.login_form{
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #8cbedf;
    border-radius: 20px;
}

.login_form input{
    border-radius: 4px;
    padding: 4px;
    display: flex;
    gap: 50px;
    margin-top: 20px;

}

.login_form button{
    height: 40px;
    width: 100px;
    border-radius: 4px;
    border: 1px solid black;
    margin-top: 20px;
    font-weight: 500;
}

.login-container img{
        height: 150px;
        width: 200px;
    }

@media (max-width: 768px) {

    .login-container{
        height: fit-content;
        width: fit-content;
    }
    .login_form{
        height: 300px;
    }

    .login-container img{
        height: 200px;
        width: 250px;
    }
}

@media (max-width: 580px) {
    .login-container{
        height: fit-content;
        width: fit-content;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

    
}
