@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display:wght@400;700&family=Poppins:wght@400;500;700&display=swap');


body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}


h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: #222;
}

.specCard{
    height: 160px;
    width: 400px;
    border-radius: 15px;
}

.specheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons svg {
  margin-left: 12px;   
  cursor: pointer;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.popup-box {
  background: #fff;
  padding: 50px;
  width: 400px;
  height: 250px;
  border-radius: 12px;
  animation: fadeIn 0.3s ease;
  text-align: center;
  cursor: pointer;
}

.more {
  margin-top: 15px;
  padding: 8px 16px;
  border: none;
  background: #5577a4;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

@keyframes fadeIn {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.app{
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.more{
  border-radius: 5px;
}


@media(max-width:424px){
    .qucard{
        width: 300px;
    }
}